.meal {
    border-bottom: solid 1px;
    border-color: #273c6648;
    padding: 1em 0;
    display: flex;
}
.boxLeft {
    
}
.boxRight {
    margin-left: auto;
}

.name {
    font-weight: bold;
}

.description {
    font-size: 14px;
    line-height: 2.5em;
    font-style: italic;
}

.price {
    color: #5685e3;
    font-weight: bold;    
}

.amount {
    font-weight: bold;
    font-size: 14px;
    line-height: 27px;
}

.button {
    
}