.modalBg {
    background: rgba(0,0,0,0.35);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 20vh;
    z-index: 5;
}

.modalContent {
    margin: auto;
    width: 80%;
    max-width: 768px;
}
