.button {
    border-radius: 5px;
    border: solid 2px #5685e3;
    background: #5685e3;
    color: #fff;
    padding: 10px 15px;
    margin: 5px 0;
    width: 100%;
    cursor: pointer;
}

.outline {
    background: transparent;
    color: #5685e3;
    font-weight: bold;
}

.inline {
    display: inline-block;
    width: auto;
    margin-left: 10px;
}
